<!DOCTYPE html>
<html>
    <html class="no-js" lang="en" dir="ltr">
        {% block headincludes %}
            {% include 'includes/_master_head.twig' %}
        {% endblock %}

        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="{{ body_classes }} ">
        {# 
        - Required variables to be set in inheriting template 
        -- main_width = int (1-12)
        -- aside_width = int (1-12)
        -- header_template = string or array
        -- main_template = string or array
        -- footer_template = string or array

        #}
        {% set required_vars = [
            'main_width',
            'aside_width',
            'header_template',
            'main_template',
            'footer_template',
        ] %}
        {% for var in required_vars %}
            {% if _context[var]  is not defined %}
                {{ dump(var ~ ' is required in inheriting template') }}
            {% endif %}
        {% endfor %}


        {% block header %}         
        {% endblock header %}

        {% block body %}
        {% endblock body%}

        {% block footer %}         
        {% endblock footer %}

        {% block footerincludes %}

        {% endblock footerincludes %}
    </body>
</html>