<header>
    {{ menu(template='includes/_sub_menu.twig') }}
    <h1 class="text-center">{{ app.config.get('general/sitename') }}</h1>
    <h3 class="text-center">{{ app.config.get('general/payoff') }}</h3>
</header>
