<header>
    {{ menu(template='includes/_sub_menu.twig') }}
{#    <span class="text-center h1">{{ app.config.get('general/sitename') }}</span>#}
{#    <span class="text-center h2">{{ app.config.get('general/payoff') }}</span>#}
</header>
