<div class="grid-container">
    <footer>
        <div class="footer-top">
        </div>
        
        <div class="footer-body">
        </div>

        <div class="footer-bottom">
            <hr />
            <p>This site was built with <a href="https://bolt.cm">Bolt CMS</a>.</p>
        </div>
        
    </footer>
</div>
