{% extends 'includes/_master_template.twig' %}

{% block body %}
{#    {% include ['includes/_macros.twig'] %}#}
    {% import 'includes/_macros.twig' as macros %}
    

    {# 
    set main_width and aside_width values 
    #}
    {% if theme.layout is defined %}
        {% set contenttypeslug = app.request.get('contenttypeslug') %}
        {% if record is defined and theme.layout[contenttypeslug~'_'~record.slug] is defined %}
            {% set main_width = theme.layout[contenttypeslug~'_'~record.slug].main.width %}
            {% set aside_width = theme.layout[contenttypeslug~'_'~record.slug].aside.width  %}
        {% elseif theme.layout[contenttypeslug] is defined %}
            {% set main_width = theme.layout[contenttypeslug].main.width %}
            {% set aside_width = theme.layout[contenttypeslug].aside.width  %}
        {% else %}
            {% set main_width = theme.layout['defaults'].main.width %}
            {% set aside_width = theme.layout['defaults'].aside.width  %}
        {% endif %}
    {% endif %}

    {#
    set templates 
    #}
    {% set header_template = ['includes/_page_header_simple.twig'] %}
    {% set main_template = ['includes/_main_right_aside.twig'] %}
    {% set footer_template = ['includes/_page_footer_simple.twig'] %}

    {#
    render the body block from parent template 
    #}
    {{ parent() }}


    {% if record is defined and theme.dump.record.all is defined  %} 
        <h2>dump(record)</h2>
        {{ dump(record) }}
    {% endif %}
    {% if theme.dump.app.all is defined  %} 
        <h2>dump(app.config)) </h2>
        {{ dump(app.config) }}
    {% elseif theme.dump.app.config is defined  %}
        <h2>dump(app.config)) </h2>
        {{ dump(app.config) }}
    {% endif %}

{% endblock body %}